*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    color:white;
    text-align: center;
    padding: 20px;
    font-family: "calibri";
    font-size: 30px;
}
.form-register{
    border:5px solid rgb(61, 59, 59);
    border-radius:10px ;
    height:70%;
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 70px;
    font-family:"calibri";
    color:var(--text-light);
    box-shadow: 0 0 80px #666;
}
hr{
    margin-left: 8rem;
    margin-right: 8rem;
    background-color:white ;
    border: 1px solid white ;
}
.controls{
    width: 100%;
    background-color: rgb(92, 90, 90) ;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
.enlaces a{
    display:inline-flex;
}
.button{
    background-color:  rgb(61, 59, 59);
    color: white;
    width: 70%;
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon{
    width: 20px;
    height: 20px;
}

.link{
    text-decoration: none;
    color: white;
}


@media screen and (width > 768px){
    .form-register{
        height:40%;
        width: 40%;
        padding: 10px;  
    }
    
}